/* app/globals.css */
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #0f172a; /* Warna gelap untuk area luar HP di desktop */
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* app/globals.css */
@font-face {
  font-family: 'TAN Headline';
  src: url('/TAN-Headline.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}