/* app/globals.css */
/* Tambahin ini di baris paling atas globals.css lu */
html, body {
  margin: 0;
  padding: 0;
  /* Warna hijau gelap yang senada sama background undangan lu */
  background-color: #043e2f; 
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* app/globals.css */
@font-face {
  font-family: 'TAN Headline';
  src: url('/TAN-Headline.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}